@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=cyrillic-ext,latin);
@import url(../fonts/styles.css);
/* line 13, ../sass/screen.sass */
.container { width: 960px !important; }

/* line 16, ../sass/screen.sass */
.btn { display: inline-block; text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background-color: #e52d35; color: white; font-family: "PT Sans", sans-serif; font-size: 17px; padding: 6px 21px; }
/* line 26, ../sass/screen.sass */
.btn.red-b { border: 2px solid #e52d35; background-color: transparent; color: #e52d35; padding: 2px 14px; font-size: 15px; }

/* line 33, ../sass/screen.sass */
hr { margin: 0; background: url("../img/hr-bg.png") repeat-x; height: 12px; border: none; }

/* line 40, ../sass/screen.sass */
header .logo { text-decoration: none; }
/* line 42, ../sass/screen.sass */
header .logo h5 { color: #7e8285; font-family: "PT Sans", sans-serif; font-size: 14px; font-weight: normal; margin: 0; }
/* line 49, ../sass/screen.sass */
header .menu { text-align: center; margin-top: 20px; }
/* line 53, ../sass/screen.sass */
header .menu ul { list-style: none; padding: 0; margin: 0; display: inline-block; }
/* line 59, ../sass/screen.sass */
header .menu ul li { float: left; margin: 0 20px; }
/* line 63, ../sass/screen.sass */
header .menu ul li a { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 17px; border-bottom: 1px dashed #43464d; }
/* line 69, ../sass/screen.sass */
header .menu ul li a:hover { text-decoration: none; }
/* line 73, ../sass/screen.sass */
header .menu ul li.is-active a { color: #e52d35; border-color: #e52d35; }
/* line 77, ../sass/screen.sass */
header .tel-order { text-align: right; }
/* line 80, ../sass/screen.sass */
header .tel-order .tel { text-decoration: none; }
/* line 83, ../sass/screen.sass */
header .tel-order .tel h2 { color: #43464d; font-family: "Arial"; font-size: 26px; line-height: 1; font-weight: bold; margin: 0; }
/* line 91, ../sass/screen.sass */
header .tel-order .btn { margin-top: 8px; }
/* line 94, ../sass/screen.sass */
header .top { padding: 15px 0; }
/* line 98, ../sass/screen.sass */
header .gray-b { background: url("../img/gray-header-bg.png") top center no-repeat; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; padding-top: 35px; padding-bottom: 20px; }
/* line 104, ../sass/screen.sass */
header .gray-b .left-b { text-align: right; width: 490px; }
/* line 108, ../sass/screen.sass */
header .gray-b .left-b h2 { color: #43464d; font-family: "HelveticaNeueCyr-Bold"; font-size: 51px; line-height: 1; font-weight: normal; margin-top: 20px; }
/* line 116, ../sass/screen.sass */
header .gray-b .left-b p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 24px; }
/* line 121, ../sass/screen.sass */
header .gray-b .left-b p.sm { font-size: 21px; }
/* line 124, ../sass/screen.sass */
header .gray-b .left-b p span { display: inline-block; background: url("../img/snow-bg.png") no-repeat; width: 51px; height: 37px; text-align: center; color: white; padding-top: 3px; margin: 0 3px; }
/* line 134, ../sass/screen.sass */
header .gray-b .left-b p span:after { content: ""; display: inline-block; background: url("../img/grade.png") no-repeat; width: 6px; height: 6px; position: relative; top: -15px; left: 1px; }
/* line 144, ../sass/screen.sass */
header .gray-b .left-b > img { margin-top: 10px; margin-right: 150px; }
/* line 149, ../sass/screen.sass */
header .gray-b .right-b { text-align: center; width: 469px; }
/* line 153, ../sass/screen.sass */
header .gray-b .right-b .warme-goods { margin-top: -55px; }
/* line 156, ../sass/screen.sass */
header .gray-b .right-b .eco { margin-top: -65px; }

/* line 159, ../sass/screen.sass */
.benefits { text-align: center; padding: 40px 0; }
/* line 163, ../sass/screen.sass */
.benefits h3 { color: #6f6f70; font-family: "PT Sans", sans-serif; font-size: 19px; }
/* line 169, ../sass/screen.sass */
.benefits .btn { margin-top: 15px; }

/* line 172, ../sass/screen.sass */
.benefits_lists { text-align: center; padding-bottom: 50px; }
/* line 176, ../sass/screen.sass */
.benefits_lists .title { margin: 55px 0; }
/* line 179, ../sass/screen.sass */
.benefits_lists .title h2 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 40px; line-height: 1; font-weight: normal; margin: 0; }
/* line 187, ../sass/screen.sass */
.benefits_lists .title .l1 { margin-right: 270px; }
/* line 190, ../sass/screen.sass */
.benefits_lists .title .l2 { margin-left: 270px; }
/* line 193, ../sass/screen.sass */
.benefits_lists .btn { margin-top: 30px; }
/* line 196, ../sass/screen.sass */
.benefits_lists h3 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 24px; line-height: 1; margin: 0; font-weight: normal; }
/* line 204, ../sass/screen.sass */
.benefits_lists p { color: #77787d; font-family: "PT Sans", sans-serif; font-size: 18px; margin-top: 5px; }
/* line 210, ../sass/screen.sass */
.benefits_lists ul { list-style: none; }
/* line 213, ../sass/screen.sass */
.benefits_lists ul i.fa { position: absolute; top: 0; left: -40px; font-size: 24px; }
/* line 220, ../sass/screen.sass */
.benefits_lists ul .i1 i.fa { color: #469937; }
/* line 223, ../sass/screen.sass */
.benefits_lists ul .i2 i.fa { color: #e53135; }
/* line 226, ../sass/screen.sass */
.benefits_lists ul .i3 i.fa { color: #1963af; }
/* line 229, ../sass/screen.sass */
.benefits_lists ul .i4 i.fa { color: #ff6706; }
/* line 232, ../sass/screen.sass */
.benefits_lists ul .i5 i.fa { color: #bf5933; }
/* line 235, ../sass/screen.sass */
.benefits_lists ul .i6 i.fa { color: #b72bd9; }
/* line 238, ../sass/screen.sass */
.benefits_lists ul .i7 i.fa { color: #ec6941; }
/* line 241, ../sass/screen.sass */
.benefits_lists li { text-align: left; position: relative; margin-bottom: 40px; }

/* line 246, ../sass/screen.sass */
.catalog { background: url("../img/catalog-bg.png") top repeat-x; text-align: center; padding-bottom: 80px; }
/* line 251, ../sass/screen.sass */
.catalog .container > .title { margin: 60px 0; }
/* line 254, ../sass/screen.sass */
.catalog .container > .title h2 { margin: 0; line-height: 1; color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 40px; }
/* line 261, ../sass/screen.sass */
.catalog .container > .title p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 24px; line-height: 1; margin: 0; margin-top: 15px; }
/* line 270, ../sass/screen.sass */
.catalog .col-xs-4 .title { width: 249px; height: 59px; display: inline-block; text-align: center; padding-left: 55px; }
/* line 277, ../sass/screen.sass */
.catalog .col-xs-4 .title h3 { margin: 0; color: white; font-family: "HelveticaNeueCyr-Roman"; font-size: 25px; line-height: 1; margin-top: 18px; font-weight: normal; }
/* line 286, ../sass/screen.sass */
.catalog .use { display: inline-block; width: 249px; height: 55px; text-align: left; margin-top: 20px; padding: 10px; }
/* line 294, ../sass/screen.sass */
.catalog .use p { float: left; color: white; font-size: 16px; font-family: "PT Sans", sans-serif; line-height: 1.2; margin: 0; }
/* line 302, ../sass/screen.sass */
.catalog .use strong { float: right; color: white; font-family: "PT Sans", sans-serif; font-size: 30px; font-weight: bold; position: relative; }
/* line 310, ../sass/screen.sass */
.catalog .use strong:after { content: ""; display: inline-block; background: url("../img/grade.png") no-repeat; width: 6px; height: 6px; position: relative; top: -17px; left: 2px; }
/* line 323, ../sass/screen.sass */
.catalog .i1 .img img { margin-top: 55px; }
/* line 326, ../sass/screen.sass */
.catalog .i1 .title { background: url("../img/catalog/item1/title-bg.png") no-repeat; }
/* line 329, ../sass/screen.sass */
.catalog .i1 .use { background: url("../img/catalog/item1/use-bg.png") no-repeat; }
/* line 332, ../sass/screen.sass */
.catalog .i1 li { color: #1d6bb5; }
/* line 335, ../sass/screen.sass */
.catalog .i1 li i.fa { color: #1b9fdd; }
/* line 338, ../sass/screen.sass */
.catalog .i1 .btn { background-color: #1b69b3; }
/* line 342, ../sass/screen.sass */
.catalog .i2 .title { background: url("../img/catalog/item2/title-bg.png") no-repeat; }
/* line 345, ../sass/screen.sass */
.catalog .i2 .use { background: url("../img/catalog/item2/use-bg.png") no-repeat; }
/* line 348, ../sass/screen.sass */
.catalog .i2 li { color: #3b9139; }
/* line 351, ../sass/screen.sass */
.catalog .i2 li i.fa { left: -25px; color: #bfd539; }
/* line 355, ../sass/screen.sass */
.catalog .i2 .btn { background-color: #3b9339; }
/* line 360, ../sass/screen.sass */
.catalog .i3 .img img { margin-top: 55px; }
/* line 363, ../sass/screen.sass */
.catalog .i3 .title { background: url("../img/catalog/item3/title-bg.png") no-repeat; width: 270px; }
/* line 367, ../sass/screen.sass */
.catalog .i3 .use { background: url("../img/catalog/item3/use-bg.png") no-repeat; width: 270px; }
/* line 371, ../sass/screen.sass */
.catalog .i3 li { color: #e73d35; }
/* line 374, ../sass/screen.sass */
.catalog .i3 li i.fa { left: -25px; color: #f8af21; }
/* line 378, ../sass/screen.sass */
.catalog .img { height: 240px; margin-bottom: 10px; }
/* line 382, ../sass/screen.sass */
.catalog ul { list-style: none; text-align: left; display: inline-block; padding: 0; }
/* line 389, ../sass/screen.sass */
.catalog ul li { font-size: 16px; font-family: "PT Sans", sans-serif; margin-bottom: 20px; padding-left: 10px; position: relative; }
/* line 396, ../sass/screen.sass */
.catalog ul li i.fa { position: absolute; top: 0; left: -20px; font-size: 24px; }
/* line 402, ../sass/screen.sass */
.catalog .btn { padding: 6px 57px; }

/* line 405, ../sass/screen.sass */
.big-form-block { background: url("../img/free-consult-bg.jpg") top center no-repeat; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; padding: 80px 0; }
/* line 410, ../sass/screen.sass */
.big-form-block .col-xs-5 { width: 477px; }

/* line 413, ../sass/screen.sass */
.form-block { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.9); padding: 40px; text-align: center; }
/* line 419, ../sass/screen.sass */
.form-block .title { text-align: left; margin-bottom: 30px; }
/* line 423, ../sass/screen.sass */
.form-block .title h2 { margin: 0; color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 28px; line-height: 1.2; font-weight: normal; }
/* line 431, ../sass/screen.sass */
.form-block .title p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 18px; }
/* line 436, ../sass/screen.sass */
.form-block h3 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 22px; font-weight: normal; line-height: 1.2; text-align: left; }
/* line 444, ../sass/screen.sass */
.form-block input { width: 100%; height: 38px; border: 2px solid #c9c9c9; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background-color: white; margin-bottom: 10px; color: #ababab; font-family: "PT Sans", sans-serif; font-size: 20px; text-align: center; }
/* line 2, ../sass/_placeholderText.scss */
.form-block input.placeholder { color: #ababab; }
/* line 3, ../sass/_placeholderText.scss */
.form-block input:-moz-placeholder { color: #ababab; }
/* line 4, ../sass/_placeholderText.scss */
.form-block input::-moz-placeholder { color: #ababab; }
/* line 5, ../sass/_placeholderText.scss */
.form-block input:-ms-input-placeholder { color: #ababab; }
/* line 6, ../sass/_placeholderText.scss */
.form-block input::-webkit-input-placeholder { color: #ababab; }
/* line 459, ../sass/screen.sass */
.form-block button { margin-top: 10px; }
/* line 462, ../sass/screen.sass */
.form-block .tel { margin-top: 25px; }
/* line 465, ../sass/screen.sass */
.form-block .tel p { color: #818181; font-family: "PT Sans", sans-serif; font-size: 17px; margin: 0; }
/* line 471, ../sass/screen.sass */
.form-block .tel a { font-family: "PT Sans", sans-serif; font-weight: bold; font-size: 21px; color: #818181; }
/* line 476, ../sass/screen.sass */
.form-block .tel a:hover { text-decoration: none; }
/* line 479, ../sass/screen.sass */
.form-block .tel a h3 { margin: 0; text-align: center; }

/* line 483, ../sass/screen.sass */
.our-exp { padding-bottom: 65px; }
/* line 486, ../sass/screen.sass */
.our-exp h2 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-weight: normal; font-size: 40px; }
/* line 492, ../sass/screen.sass */
.our-exp h3 { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 24px; font-weight: normal; margin: 0; }
/* line 499, ../sass/screen.sass */
.our-exp .left-b { text-align: center; }
/* line 502, ../sass/screen.sass */
.our-exp .left-b img { margin: 20px 0; }
/* line 505, ../sass/screen.sass */
.our-exp .right-b { text-align: center; }
/* line 508, ../sass/screen.sass */
.our-exp .right-b ul { color: #43464d; padding-left: 0; display: inline-block; text-align: left; }
/* line 514, ../sass/screen.sass */
.our-exp .right-b ul li { font-family: "PT Sans", sans-serif; font-size: 17px; }
/* line 518, ../sass/screen.sass */
.our-exp .right-b .btn { margin-top: 50px; }

/* line 521, ../sass/screen.sass */
.for-wholesaler { background: #f5f4f4; text-align: center; padding-bottom: 60px; }
/* line 526, ../sass/screen.sass */
.for-wholesaler .title { font-family: "HelveticaNeueCyr-Roman"; color: #43464d; margin-top: 60px; margin-bottom: 60px; }
/* line 532, ../sass/screen.sass */
.for-wholesaler .title h2 { font-size: 40px; line-height: 1; margin: 0; }
/* line 537, ../sass/screen.sass */
.for-wholesaler .title h4 { font-size: 24px; line-height: 1; margin-top: 10px; }
/* line 542, ../sass/screen.sass */
.for-wholesaler .col-xs-6 { position: relative; }
/* line 545, ../sass/screen.sass */
.for-wholesaler p { color: #43464d; font-family: "HelveticaNeueCyr-Bold"; font-size: 30px; line-height: 1; font-weight: normal; text-align: left; display: inline-block; position: relative; z-index: 1; }
/* line 556, ../sass/screen.sass */
.for-wholesaler .sales { margin-top: 40px; }
/* line 559, ../sass/screen.sass */
.for-wholesaler i.fa { color: #eaeaea; font-size: 100px; position: absolute; left: 12%; }
/* line 565, ../sass/screen.sass */
.for-wholesaler .fa-life-ring { margin-top: 10px; }
/* line 568, ../sass/screen.sass */
.for-wholesaler .fa-tag { left: 16% !important; margin-top: 0; }
/* line 572, ../sass/screen.sass */
.for-wholesaler .btn { margin-top: 60px; }

/* line 576, ../sass/screen.sass */
.order-plan { text-align: center; }
/* line 579, ../sass/screen.sass */
.order-plan h2 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 40px; line-height: 40px; font-weight: normal; margin-bottom: 50px; margin-top: 50px; }
/* line 588, ../sass/screen.sass */
.order-plan .plan-items { display: inline-block; position: relative; }
/* line 592, ../sass/screen.sass */
.order-plan .plan-items .plan-item { float: left; margin: 0 75px; position: relative; z-index: 1; }
/* line 598, ../sass/screen.sass */
.order-plan .plan-items .plan-item .img { width: 147px; height: 157px; display: inline-block; padding-top: 25px; }
/* line 604, ../sass/screen.sass */
.order-plan .plan-items .plan-item ul { text-align: left; display: inline-block; margin-top: 0; }
/* line 609, ../sass/screen.sass */
.order-plan .plan-items .plan-item ul li { color: #0f1327; font-family: "PT Sans", sans-serif; font-size: 14px; }
/* line 614, ../sass/screen.sass */
.order-plan .plan-items .plan-item p { color: #0f1327; font-family: "PT Sans", sans-serif; font-size: 18px; line-height: 1; margin-bottom: 5px; }
/* line 621, ../sass/screen.sass */
.order-plan .plan-items .plan-item .btn { margin-top: 10px; }
/* line 624, ../sass/screen.sass */
.order-plan .plan-items .plan-item i.fa { color: white; }
/* line 628, ../sass/screen.sass */
.order-plan .plan-items .plan-item.i1 .img { background: url("../img/order-plan/i1/bg.png") no-repeat; }
/* line 631, ../sass/screen.sass */
.order-plan .plan-items .plan-item.i1 .img .fa { font-size: 100px; }
/* line 634, ../sass/screen.sass */
.order-plan .plan-items .plan-item.i2 .img { background: url("../img/order-plan/i2/bg.png") no-repeat; }
/* line 637, ../sass/screen.sass */
.order-plan .plan-items .plan-item.i2 .img .fa { font-size: 91px; }
/* line 640, ../sass/screen.sass */
.order-plan .plan-items .plan-item.i3 .img { background: url("../img/order-plan/i3/bg.png") no-repeat; }
/* line 643, ../sass/screen.sass */
.order-plan .plan-items .plan-item.i3 .img .fa { font-size: 90px; }
/* line 647, ../sass/screen.sass */
.order-plan .plan-items .line1 { background: url("../img/order-plan/line1.png") no-repeat; width: 216px; height: 53px; position: absolute; left: 208px; top: 88px; }
/* line 655, ../sass/screen.sass */
.order-plan .plan-items .line2 { background: url("../img/order-plan/line2.png") no-repeat; width: 186px; height: 19px; position: absolute; right: 224px; top: 38px; }

/* line 664, ../sass/screen.sass */
.form-goods-b { margin-top: 100px; margin-bottom: 70px; }
/* line 668, ../sass/screen.sass */
.form-goods-b .form-block { width: 450px; border: 3px #e6e6e6 dashed; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
/* line 673, ../sass/screen.sass */
.form-goods-b .form-block h3 { margin-top: 0; }
/* line 676, ../sass/screen.sass */
.form-goods-b .wm-good { margin-top: 75px; }
/* line 679, ../sass/screen.sass */
.form-goods-b.sec { margin-top: 0; }
/* line 682, ../sass/screen.sass */
.form-goods-b.sec h3 { font-size: 21px; font-family: "PT Sans", sans-serif; }
/* line 686, ../sass/screen.sass */
.form-goods-b.sec .title { text-align: center; margin: 50px 0 70px; }
/* line 690, ../sass/screen.sass */
.form-goods-b.sec .title h2 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 45px; line-height: 1; margin-bottom: 0; }
/* line 697, ../sass/screen.sass */
.form-goods-b.sec .title p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 24px; margin-top: 10px; }

/* line 706, ../sass/screen.sass */
.certificats { text-align: center; background: url("../img/certificats/center-bg.jpg") center top no-repeat; }
/* line 712, ../sass/screen.sass */
.certificats .title h2 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 45px; line-height: 1; margin-bottom: 0; }
/* line 719, ../sass/screen.sass */
.certificats .title p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 24px; margin-top: 10px; }
/* line 725, ../sass/screen.sass */
.certificats .certificats_items { display: inline-block; }
/* line 728, ../sass/screen.sass */
.certificats .certificats_items .certificats_item { float: left; padding: 20px; background: white; border: 5px #44464e solid; margin: 0 45px; }
/* line 735, ../sass/screen.sass */
.certificats .certificats_items .certificats_item:first-child { margin-left: 0; }
/* line 738, ../sass/screen.sass */
.certificats .certificats_items .certificats_item:last-child { margin-right: 0; }
/* line 741, ../sass/screen.sass */
.certificats .btn { margin-top: -300px; }
/* line 744, ../sass/screen.sass */
.certificats .ecology-sert { margin-left: -25px; }

/* line 749, ../sass/screen.sass */
.rec .title { text-align: center; margin-bottom: 40px; }
/* line 753, ../sass/screen.sass */
.rec .title h2 { color: #43464d; font-family: "HelveticaNeueCyr-Roman"; font-size: 40px; line-height: 1; margin-bottom: 0; }
/* line 760, ../sass/screen.sass */
.rec .title img { margin: 0 20px; }
/* line 763, ../sass/screen.sass */
.rec .certificats_item { float: left; padding: 20px; background: white; border: 5px #44464e solid; }
/* line 770, ../sass/screen.sass */
.rec .text p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 18px; font-style: italic; }
/* line 776, ../sass/screen.sass */
.rec .text .author { text-align: right; }
/* line 779, ../sass/screen.sass */
.rec .text .quote { display: inline-block; background: url("../img/quote.png") no-repeat; width: 96px; height: 90px; margin-left: -55px; }
/* line 786, ../sass/screen.sass */
.rec .btn { margin-top: 20px; }
/* line 791, ../sass/screen.sass */
.rec hr { margin-top: 100px; }

/* line 796, ../sass/screen.sass */
.map { background: url("../img/map.jpg") no-repeat; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; padding: 120px 0; }
/* line 801, ../sass/screen.sass */
.map .col-xs-5 { background: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 40px; width: 450px; }
/* line 807, ../sass/screen.sass */
.map .col-xs-5 p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 18px; margin: 0; }
/* line 814, ../sass/screen.sass */
.map .col-xs-5 a.tel { text-decoration: none; float: left; }
/* line 818, ../sass/screen.sass */
.map .col-xs-5 a.tel h2 { color: #43464d; font-family: "Arial"; font-size: 26px; font-weight: bold; margin: 0; }
/* line 825, ../sass/screen.sass */
.map .col-xs-5 .red-b { float: right; margin-top: 3px; }
/* line 829, ../sass/screen.sass */
.map .row { margin-top: 15px; margin-bottom: 15px; }

/* line 834, ../sass/screen.sass */
footer { padding: 15px 0; }
/* line 837, ../sass/screen.sass */
footer p { color: #43464d; font-family: "PT Sans", sans-serif; font-size: 16px; margin: 0; }
/* line 843, ../sass/screen.sass */
footer .right { text-align: right; }
/* line 847, ../sass/screen.sass */
footer .right p > a { color: #af2829; text-decoration: underline; }
/* line 851, ../sass/screen.sass */
footer .right span { color: #b9b9b9; font-family: "PT Sans", sans-serif; font-size: 12px; }
/* line 856, ../sass/screen.sass */
footer .right span > a { color: #af2829; line-height: 1.1; text-decoration: underline; }
